<mat-toolbar color="primary">
  <mat-toolbar-row color="primary">
    <div fxLayout class="home">
      <button (click)="toggleSidenav()" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <span> Appli Perso </span>
    </div>
    <div class="clock">{{ clock }}</div>

    <div class="navigation">
      <ul fxLayout>
        <li fxHide.xs>
          <a mat-button [routerLink]="'/books'">Livres</a>
        </li>
        <li fxHide.xs>
          <a mat-button [routerLink]="'/books/new'">Ajouter un Livre</a>
        </li>
        <li *ngIf="!isAuth" fxHide.xs>
          <a mat-button [routerLink]="'auth/signup'">Créer un compte</a>
        </li>
        <li *ngIf="!isAuth" fxHide.xs>
          <a mat-button [routerLink]="'auth/signin'">Connexion</a>
        </li>
        <li *ngIf="isAuth" fxHide.xs>
          <a mat-button (click)="onSignOut()"> Déconnexion </a>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
