<!-- <mat-toolbar color="primary"> -->
<mat-toolbar color="primary" fxLayout fxFlex>
  <mat-toolbar-row fxLayout fxFlex>
    <div>
      <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <span> Appli Perso </span>
      <span class="example-spacer"></span>
    </div>
    <div fxLayout fxFlex class="navigation">
      <ul fxLayout>
        <li fxHide.xs>
          <a mat-button [routerLink]="'/books'">Livres</a>
        </li>
        <li fxHide.xs>
          <a mat-button [routerLink]="'/books/new'">Ajouter un Livre</a>
        </li>
        <li fxHide.xs>
          <a mat-button [routerLink]="'auth/signup'">Créer un compte</a>
        </li>
        <li fxHide.xs>
          <a mat-button [routerLink]="'auth/signin'">Connexion</a>
        </li>
        <li fxHide.xs>
          <a mat-button (click)="onSignOut()" *ngIf="isAuth"> Déconnexion </a>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<!-- </mat-toolbar> -->
<!--


  <div class="container-fluid">
    <span>
      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a routerLink="books">Livres</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/books/new">Ajouter un Livre</a>
        </li>
      </ul>
    </span>
    <span>
      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active">
          <a routerLink="auth/signup">Créer un compte</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="auth/signin">Connexion</a>
        </li>
        <li>
          <a (click)="onSignOut()" style="cursor: pointer" *ngIf="isAuth">
            Déconnexion
          </a>
        </li>
      </ul>
    </span>
  </div>
  -->
