.navigation {
  width: 5%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-content: space-between;
  list-style: none;
  //margin: 0 auto;
}
.home {
  display: flex;
}
.clock {
  display: flex;
  //position: absolute;

  color: white;
  transform: translateX(-50%) translateY(-50%);
  background-color: #000000;
  font-size: 20px;
  font-family: Orbitron;
  letter-spacing: 7px;
}
.navigation ul {
  text-decoration: none;
  display: block;
  color: white;
  text-align: center;
}
.navigation li {
  text-decoration: none;
  display: block;
  color: white;
  text-align: center;
}
