.book-form {
  display: flex;
  flex-flow: row nowrap;
  align-self: center;
  align-content: center;
  justify-content: center;
  height: 100%;
}

.form {
  width: 30%;
}
mat-form-field {
  width: 100%;
}
mat-divider {
  margin: 10px 0;
  width: 100%;
}
.book-form input {
  margin: 1% 0;
}
