.book-form {
  height: 100%;
  padding: 2% 35%;
  display: flex;
  flex-direction: row;
}
mat-form-field {
  width: 100%;
}
mat-divider {
  margin: 10px 0;
  width: 100%;
}
.book-form input {
  width: 100%;
  margin: 1% 0;
}
