<mat-card class="example-card">
  <mat-card-header>
    <div class="example-header-image">
      <mat-card-title> Book Title: {{ title }} </mat-card-title>
      <mat-card-subtitle> Book author: {{ author }}</mat-card-subtitle>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div>
      <p>Book synopsis: {{ synopsis }}</p>

      <p>Book id: {{ id }}</p>
    </div>
    <div *ngIf="this.picture">
      <!-- <img [src]="this.picture" alt="this is the picture" />-->
      <img
        mat-card-sm-image
        [src]="this.picture"
        alt="Picture of the book {{ this.title }}"
      />
    </div>
    <div>
      <!--<button type="button" (click)="deleteBook()">Delete Book</button>-->
    </div>
  </mat-card-content>
</mat-card>
