<div class="singlebooklist" fxLayout="row wrap" fxLayoutGap="3% grid">
  <app-single-book
    fxFlex="25%"
    fxFlex.xs="100%"
    fxFlex.sm="33%"
    *ngFor="let book of bookList"
    [id]="book.id"
    [title]="book.title"
    [author]="book.author"
    [picture]="book.picture"
    [synopsis]="book.synopsis"
  >
  </app-single-book>
</div>

<div class="newbook">
  <button type="button" (click)="onNewBook()">Add new book</button>
</div>
<!-- <mat-list role="list">
  class="cardscontainer"
  <mat-list-item role="listitem" *ngFor="let book of bookList">
    <app-single-book
      [id]="book.id"
      [title]="book.title"
      [author]="book.author"
      [picture]="book.picture"
      [synopsis]="book.synopsis"
    >
    </app-single-book>
  </mat-list-item>
</mat-list>
<button type="button" (click)="onNewBook()">Add new book</button> -->

<!--<tr>
  <app-single-book
    *ngFor="let book of bookList"
    [id]="book.id"
    [title]="book.title"
    [author]="book.author"
    [photo]="book.photo"
    [synopsis]="book.synopsis"
  >
  </app-single-book>
</tr>
<mat-list role="list">
  <mat-list-item role="listitem">Item 1</mat-list-item>
  <mat-list-item role="listitem">Item 2</mat-list-item>
  <mat-list-item role="listitem">Item 3</mat-list-item>
</mat-list>
<button type="button" (click)="onNewBook()">Add new book</button>
-->
