.cardscontainer {
  height: 100%;
  color: #ffffff;
  font-family: sans-serif;
  margin: 10% 10%;
  justify-content: center;
  align-items: center;
}
.singlebooklist {
  height: 100%;
  padding: 2% 2%;
  //margin: 2% 2%;
}

.newbook {
  margin: 3% auto 0 0;
}
