html,
body {
  margin: 0;
  height: 100%;
}
body {
  font-style: normal;
  color: black;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 30px;
}
mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  height: 100%;
}
mat-sidenav {
  width: 15%;
  margin: 0;
  border-radius: 10px;
  padding: 0;
  border-right: none;
  background: #002b5c;
  color: white;
  text-align: center;
}

.content {
  padding: 0;
  height: 100%;
}
.example-container-sidenav {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.example-sidenav {
  padding: 20px;
}

.routeroutlet {
  display: flex;
}
