<!--<mat-sidenav-container>
  
  <mat-sidenav #sidenav role="navigation">
    <button mat-button (click)="sidenav.toggle()">Toggle</button>

    <div class="content">
      <app-header></app-header>
    </div>
  </mat-sidenav>
  <mat-sidenav-content> </mat-sidenav-content>

  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<div class="content">
  <app-header></app-header>
</div>
<mat-nav-list>
  <a mat-list-item> Accounts></a>
  <a mat-list-item> Create Account></a>
  <a mat-list-item> Contacts></a>
  <a mat-list-item> Create Contact></a>
  <a mat-list-item> Activities></a>
</mat-nav-list>
<router-outlet></router-outlet>
-->
<!-- <div>
      <mat-drawer-container class="example-container" autosize>
        <mat-drawer #drawer class="example-sidenav" mode="side">
          <p>Auto-resizing sidenav</p>
          <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
          <button (click)="showFiller = !showFiller" mat-raised-button>
            Toggle extra text
          </button>
        </mat-drawer>

        <div class="example-sidenav-content">
          <button type="button" mat-button (click)="drawer.toggle()">
            Toggle sidenav
          </button>
        </div>
      </mat-drawer-container>
    </div> -->
<!--  https://zoaibkhan.com/blog/create-a-responsive-sidebar-menu-with-angular-material/ -->
<div class="content">
  <div class="header">
    <app-header></app-header>
  </div>
  <mat-sidenav-container class="example-container-sidenav">
    <mat-sidenav #matSidenav="matSidenav" class="mat-elevation-z8"
      ><app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
      <div id="top-of-page"></div>
      <div class="routeroutlet">
        <article fxFlex fxFlexFill>
          <router-outlet></router-outlet>
        </article>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
