<div class="header">
  <app-header></app-header>
</div>
<mat-sidenav-container>
  <mat-sidenav #matSidenav="matSidenav"
    ><app-sidenav></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <div id="top-of-page"></div>
    <div class="routeroutlet">
      <article>
        <router-outlet></router-outlet>
      </article>
    </div>
    <div class="content">
      <h1>To do list:</h1>
      <p>
        - N'utiliser qu'un CSS partagé par les 2 items de l'Authentification.
      </p>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
