<div>
  <mat-nav-list>
    <p mat-list-item>
      Premier badge:
      <button
        mat-raised-button
        [matBadge]="nbAlerts"
        [matBadgeHidden]="hidden"
        matBadgePosition="below before"
        matBadgeSize="small"
        (click)="toggleBadgeVisibility()"
      >
        Hide
      </button>
    </p>
    <mat-divider></mat-divider>
    <p mat-list-item>
      <mat-chip color="primary" disabled> Premier chip: </mat-chip>
    </p>
    <mat-divider></mat-divider>
    <button mat-fab color="primary" aria-label="">
      <mat-icon>delete</mat-icon>
    </button>
    <mat-divider></mat-divider>
    <button mat-fab color="primary" aria-label="">
      <mat-icon>android</mat-icon>
    </button>
  </mat-nav-list>
</div>
