<div class="signinform">
  <div class="title">Sign in</div>
  <form
    [formGroup]="signInFormGroup"
    (ngSubmit)="onSubmit()"
    #f="ngForm"
    class="form"
  >
    <label for="exampleInputEmail1" class="subtitle">Email address</label>
    <input
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      placeholder="Enter email"
      formControlName="emailInput"
    />
    <small id="emailHelp" class="form-text text-muted"
      >We'll never share your email with anyone else.</small
    >
    <p></p>
    <label for="exampleInputPassword1" class="subtitle">Password</label>
    <input
      type="password"
      class="form-control"
      id="exampleInputPassword1"
      placeholder="Password"
      formControlName="passwordInput"
    />
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" />
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <div *ngIf="isSignedIn === true">
    <button type="button" (click)="onSignOut()">SignOut</button>
  </div>
</div>
